body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    position: relative;
}

#balance {
    position: absolute;
    top: 20px;
    font-size: 28px;
    z-index: 10;
    color: #ffcc00;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ffcc00;
}

#main-img {
    max-width: 80%;
    height: auto;
    cursor: none;
    transition: transform 0.3s;
    margin-top: 150px; /* Adjust this value as needed */
}

#main-img.animated {
    animation: shake 0.5s;
    transform: perspective(100px) rotateX(10deg) rotateY(10deg);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(30, 30, 47, 0.9);
    padding: 15px 0;
}

.nav-bar button {
    background: none;
    border: none;
    color: #ffcc00;
    font-size: 22px;
    cursor: pointer;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6a0dad;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    max-width: 80%;
}

.hidden {
    display: none;
}